exportPattern("^[[:alpha:]]+")
exportClasses(
     "EpiClusterResult" 
)
import(
    Biobase,
    RPMM,
    Rlab,
    pheatmap,
    isva,
    qvalue,
    methods
)
importFrom("grDevices", "colorRampPalette", "rainbow")
importFrom("graphics", "abline", "axis", "barplot", "box", "boxplot","image", "mtext", "par", "plot")
importFrom("stats", "aov", "as.dist", "chisq.test", "cor", "cor.test","hclust", "kruskal.test", "rbeta")
export(
    BGNMF,
    CategoricalAnalysis,
    EpiAnalysis,
    EpiCluster,
    EpiDraw,
    GenSimData,
    NumericAnalysis
)
